@import "../../../colors";
@import "../../../sass/mixins.scss";

.resp-profile-container {
  @include positionfixed;
  min-height: 100%;
  top: 0;
  right: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: 0.4s all;
  display:none;

  @media (max-width: 750px) {
    display: block;
    right: -100%;
    &.slide-right {
      right: 0;
    }
  }
}
.Resp-profile {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100vh;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  padding-top: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  text-align: center;
  z-index: 15;
  overflow-y: auto;
  div {
    margin: 1rem 0;
    &__disable {
    }
    &::after {
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  &__image {
    img {
      width: 10rem;
      height: 10rem;
      border-radius: 400rem;
    }
  }

  &__name {
    margin-top: 1rem;
    font-size: medium;
  }

  &__online {
    display: block;
    margin: 2rem 0;

    &__dot {
      display: inline-block;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 200rem;
      background: rgb(35, 149, 31);
      margin-right: 0.4rem;
    }

    &__text {
      display: inline-block;
      color: rgb(35, 149, 31);
      font-size: 1.3rem;
    }
  }
}

.close {
  font-size: 3rem;
  position: absolute;
  top: 2%;
  z-index: 999999;
  color: rgb(37, 35, 35);
}
