
@import '../../colors';

.Veri-landing_page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem 5rem;

    background-image: url('../../assets/images/background-img-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    min-height: 100vh;

    p {
        line-height: 1.6rem;
        min-height: 30rem;
        width: 40rem;
        text-align: justify;
        padding: 3rem;
        font-size: 1.7rem;
        font-weight: 500;
        color: #fff;
        background: rgba(0,0,0, .5);
    }
}