@import '../../colors';

.home_page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 5rem;

    background-image: url('../../assets/images/background-img-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    min-height: 100vh;

    @media (max-width:750px) {
       padding: 0 .8rem !important;
    }
  
}

.advance-s-btn {
    position: absolute;
    top: 0;
    left: 10%;
    border: none;
    background:$color-blue-light;
    color: #fff;
    cursor: pointer;
    padding: .7rem;
    margin: 1rem 0;
    display: none;
    @media (max-width:900px) {
        display: inline-block;
    }
}