.main-chat {
  background-color: #eaeef0a9;
  flex: 0 0 60%;
  @media (max-width: 750px) {
    flex: 0 0 100%;
    height: 100vh;
  }
  &__message {
    &__left {
      align-self: flex-start;
    }
    &__right {
      align-self: flex-end;
    }
    border: transparent;

    width: 50%;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 2rem;
      align-self: flex-end;
      @media (max-width: 550px) {
        width: 2rem;
        height: 2rem;
      border-radius: 1rem;

      }
    }

    &__content {
      padding: .4rem;
      font-size: 1.4rem;
      line-height: 2rem !important;
      border-radius: 6px;

      &__right {
        background-color: #fff;
        margin-left: auto;
      }
      &__left {
        background-color: #1d43eefd;
        color: #fff;
      }
    }
    &__time {
    }
  }

  &__header {
    height: 10%;
    background-color: #fff;
    padding: 4px 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    img {
      width: 7rem;
      height: 7rem;
      border-radius: 5rem;
      margin: 1rem;
      @media (max-width: 550px) {
        width: 4rem;
        height: 4rem;
      border-radius: 2rem;

      }
    }

    div {
      align-self: center;
      margin-right: auto;
    }
    small {
      color: green;
    }
  }

  &__main {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 3rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #1d43eefd;
      border-radius: 20rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #f1f1f1;
    }
  }

  &__footer {
    height: 10%;
    background-color: #fff;
    @media (max-width: 550px) {
      height: 10%;
    }
    &__icons {
      margin: 0rem 1rem 0 3rem;
      align-self: center;
    }
    &__input {
      flex: 1;
      font-size: 1.6rem;
      border: transparent;
      padding: 0.5rem 1rem;
      &:focus,
      &:active {
        outline: none;
        border: transparent;
      }
    }
  }
}

.paper-plane {
  margin: 0 2rem;
  color: #fff;
  background-color: #1d43eefd;
  padding: 2rem;
  text-align: center;
  border-radius: 540rem;
  cursor: pointer;
  @media (max-width: 550px) {
    padding: 1rem;
  }
}

.paper-clip {
  margin: 0;
  cursor: pointer;
}

.footer__icons {
  @media (max-width: 550px) {
    font-size: 5rem !important;
  }
}
