@font-face {
  font-family: venezio;
  src: url("../../../assets//fonts/Swoonbold.otf");
}

.main-chat {
  background-color: #eaeef0a9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-image: re('../../../assets/images/bg.jpg');
  flex: 0 0 60%;
  p {
    margin-bottom: 0.5rem;
    width:100%;
    word-wrap: break-word !important;
  }
  @media (max-width: 750px) {
    flex: 0 0 100%;
    height: 100vh;
  }
  .dots {
    // position: relative;
    margin: 0;
    &__icon {
      z-index: 2;
      cursor: pointer;
    }
  }
  &__message {
   
    &__left {
      align-self: flex-start;
    }
    &__right {
      align-self: flex-end;
    }
    border: transparent;

    width: 50%;
    @media (max-width: 550px) {
      width: 70%;
    }

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 2rem;
      align-self: flex-end;
      border: 2px solid rgb(37, 109, 202);

      @media (max-width: 550px) {
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
      }
    }

    &__content {
      padding: 0.4rem;
      font-size: 1.4rem;
      line-height: 2rem !important;
      border-radius: 6px;
      
      &__right {
        background-color: #fff;
        margin-left: auto;
      }
      &__left {
        background-color: #1d43eefd;
        color: #fff;
      }
    }
    &__time {
      color: #fff;
    }
  }

  &__header {
    position: relative;
    height: 10%;
    background-color: #fff;
    padding: 4px 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    img {
      width: 7rem;
      height: 7rem;
      border-radius: 5rem;
      margin: 1rem;
      border: 2px solid rgb(163, 37, 202);

      @media (max-width: 550px) {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
      }
    }

    div {
      align-self: center;
      margin-right: auto;
    }
    small {
      color: green;
    }
  }

  &__main {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 3rem;
    width: 100%;
    @media (max-width: 750px) {
    width: 100vw;
    }
    @media (max-width: 550px) {
      padding: 1rem 0.7rem;
    }
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: transparent;

      border-radius: 20rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #f1f1f1;
    }
  }

  &__footer {
    height: 10%;
    // box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);

    @media (max-width: 550px) {
      height: 10%;
    }
    &__icons {
      margin: 0rem 1rem 0 3rem;
      align-self: center;
      @media (max-width: 750px) {
        margin: 0rem 1rem;
      }
    }
    &__input {
      flex: 1;
      font-size: 1.6rem;
      border: transparent;
      background: #fff;
      border-radius: 34rem;
      padding: .7rem 2rem;
      align-self: center;

      &:focus,
      &:active {
        outline: none;
        border: transparent;
      }
    }
  }
}

.paper-plane {
  margin: 0 2rem;
  color: #fff;
  background-color: #1d43eefd;
  padding: 2rem;
  text-align: center;
  border-radius: 540rem;
  cursor: pointer;
  @media (max-width: 550px) {
    padding: 1rem;
    margin: 0 1rem;
  }
}

.paper-clip {
  margin: 0;
  cursor: pointer;
}

.footer__icons {
  @media (max-width: 550px) {
    font-size: 5rem !important;
  }
}

.noProfileContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: rgb(59, 59, 185);
  background: linear-gradient(
    250deg,
    rgba(59, 59, 185, 1) 0%,
    rgba(37, 90, 173, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );
  .content {
    background: #fff;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    h1 {
      font-family: swoon !important;
      font-size: 3rem !important;
    }
  }

  img {
    width: 15rem;
    height: 15rem;
    border-radius: 100rem;
    border: 3px solid rgb(187, 27, 62);
    margin-bottom: 2rem;
  }

  span {
    display: block;
    font-size: 2rem;
    padding: 1rem 1rem;
    border: 2px solid #1e64be;
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    @media (max-width: 750px) {
      display: inline-block;
    }
  }
}

.arrow-left {
  font-size: 3rem;
  user-select: none;
  cursor: pointer;
  display: none;
  @media (max-width: 750px) {
    display: inline-block !important;
  }
}

.typingContainer {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h6 {
    text-align: center;
    color: white;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 100%;
}
.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.lds-heart {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  margin: 0 auto;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(255, 30, 30, 0.911);
  animation: lds-heart 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(255, 30, 30, 0.911);
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
