$color-blue-darker: #032854;
$color-blue-dark: #134889;
$color-blue-light: #074C9F;
$color-blue-lighter: #106EDF;


$color-pink-light: #eb003b;	
$color-pink-dark: #C20031;



$color-white-light: rgba(228,228,231,1);
$color-white-dark: rgb(155, 151, 151);
