$color-blue-darker: #032854;
$color-blue-dark: #134889;
$color-blue-light: #074C9F;
$color-blue-lighter: #106EDF;


$color-pink-light: #eb003b;	
$color-pink-dark: #C20031;



$color-white-light: #e4e4e7;
$color-white-light2: #dedeebef;
$color-white-light3: #f9f9ff;
$color-white-light4: #6f7b81f3;
$color-white-dark: rgb(155, 151, 151);
