
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
  /* color:#000000c4; */
  /* background: ; */
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-decoration:none;
  letter-spacing: .5px;
  user-select: none;
  /* border:1px solid red; */
}

body {
  margin: 0;
  font-family: Roboto, lato, sans-serif;
  color: rgb(27, 34, 46);
  line-height: 1.6rem;
  /* overflow:hidden; */
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  border-color:#fff !important;
  outline:0 !important;
  box-shadow:0 0 0 0rem #fff !important;
}




.error {
  border: 1px solid rgb(197, 60, 60) !important;
}
.bd {
  border-bottom: 1px dashed #1d89ee;
  padding-bottom: .5rem;
}

.light-bg {
  padding: .5rem 1rem;
  background-color: rgba(189, 206, 223, 0.822);
  border-radius: 10rem;
  margin: .5rem 0;
  text-transform: capitalize;
  display: inline-block;
}