@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
  /* color:#eaee1d; */
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-decoration:none;
  /* border:1px solid red; */
}

body {
  margin: 0;
  font-family: Roboto, lato, sans-serif;
  color: rgb(27, 34, 46);
  line-height: 1.6rem;
  /* overflow:hidden; */
}

.error {
  border: 1px solid rgb(197, 60, 60) !important;
}