.signUp_Page {
    background-color: #eaeef0a9;
    // background: url('../../assets/images/background-img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}