.signUp_Page {
    background-color: #eaeef0a9;
    background: url('http://localhost:5005/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}