@import "../../colors";

.updateProfile {
  // background: #106EDF;
  background-color: #eaeef0a9;
  height: 100vh;
  padding: 3rem;
}

.form {
  &__updateProfile {
    //   color: #fff;
    background: #fff;
    padding: 2rem 3rem;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
  &__group {
    img {
      position: relative;
      width: 8rem;
      height: 8rem;
      border-radius: 5rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
      border: 2px solid rgb(37, 109, 202);
      z-index: 1;

      
    }

    &__buttons {
      align-self: center;
      button {
        font-size: 1.4rem;
        padding: 0.5rem;
        min-width: 6rem;
        margin-right: 1rem;
      }
    }
    &__bio {
      &__area {
        min-height: 20rem;
        width: 100%;
        margin: 1rem 0;
        font-size: 1.5rem;
        color: $color-blue-dark;

        border: 3px solid transparent;
        background-color: rgb(240, 244, 247);
        &:focus {
          outline: none;
        }
      }

      &__heading {
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.6rem;
        color: $color-blue-dark;
      }
    }
    &__images {
      margin: 1rem 0;
      width: 100%;
      min-height: 20rem;
      border: 1px dashed #000;
      background: #fff;
      &__preview {
        display: inline-block;
        width: 20%;
        height: 10rem;
      }
    }
  }
}

.gender {
  font-weight: 600;
  font-size: 1.6rem;
  color: $color-blue-dark;

  text-transform: capitalize;
  margin: 1rem;
}

.avatars__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  img {
    width: 100%;
  }
}
