.searchBox {
    position: absolute;
    top: 6rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    max-height: 80%;
    z-index: 999999999;
    left: 50%;
    transform: translateX(-55%);
    background: #fff;
}