.searchBox {
   overflow-y: auto;
   height:89%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: .5rem;
   @media(max-width: 750px) {
    height:85%;

  }
   &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #1d43eefd;
    border-radius: 20rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
  }

}
// }
