@import "../../colors";

.form {
  &__signUp {
    padding: 3rem 2rem;
    background-color: #fff;
   border-radius: 6px;
  box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
   width: 50%;
    &__heading {
      letter-spacing: 1.5px;
      font-size: 3rem;
      margin: 2rem 0;
      font-weight: 700;
    }
    p {
      font-size: 1.7rem;
      margin: 1rem;
    }
    a,
    a:active,
    a:visited {
      font-size: 2rem;
      border-bottom: 1px solid $color-blue-dark;
      transition: 0.3s all;
      &:hover {
        border: none;
      }
    }
  }
}
