.pop-container {
  position: absolute;
  padding: 1rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  background: #fff;
  //   bottom: 0%;
  top: 2%;
  //   left: -100%;
  right: .5rem;
  will-change: transform;
  animation: scale .3s  forwards;
  
  ul {
    list-style: none;
    padding: 0 !important;
    li {
    position: relative;
      margin: 0.5rem 0;
      font-size: 1.5rem;
      cursor: pointer;
      &::after {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          height: 100%;
          width: 0;
          transition: .2s ease-in;

          background-color: rgb(255, 255, 255);
      }
      &:hover::after {
          opacity: .1;
          width: 100%;
      }
    }
  }
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1)
    }
}