@import "../../colors";

.side-nav {
  flex: 0 0 40%;
  transition: all 0.5s;

  &.show {
    // left: 0;
    transform: translateX(0);
  }
  @media (max-width: 750px) {
    display: flex !important;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    transform: translateX(-100%);

  }

  &__link {
    user-select: none;
    cursor: pointer;
  }
  &__search {
    //    align-self: center;
    //    margin-left:-3rem
    background-color: transparent;
    border: 1px solid transparent;
  }
  &__input {
    border: 1px solid transparent;
    height: 4rem;
    background-color: #fff;
    font-size: 1.4rem;

    //  flex:0 0 90%;

    &__container {
      padding: 1rem;
      //   display: flex;
      //   justify-content: center;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    }
  }
  &__icons {
    color: rgb(30, 100, 190);
    @media (max-width: 550px) {
      margin: 2rem 0;
    }

    &__container {
      flex: 1;

      h4 {
        font-size: 1.1rem;
        color: rgb(30, 100, 190);
        @media (max-width: 550px) {
          display: none !important;
        }
      }
    }
  }
  &__bar {
    padding: 0.5rem;
    padding-top: 3rem;
    background-color: red;
    // flex: 0 0 15%;
    width: 20%;
    background: #fff;
  }
  &__chats {
    background-color: $color-white-light3;
    width: 80%;
    padding: 1rem;
    &__chat {
      // min-height: 6rem;
      background-color: #fff;
      border: transparent;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);

      padding: 1rem;
      &__name {
        font-weight: 700;
        font-size: 1.6rem;
        margin-right: auto;
      }

      &__msg {
        font-size: 1.3rem;
      }
      &__time {
        font-size: 1rem;
      }
    }
    h1 {
      font-weight: 700;
      // margin: 1rem 0;
    }
    main {
      overflow-x: hidden;
      overflow-y: auto;
      height: 85%;

      img {
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
        border: 2px solid rgb(37, 202, 114);
      }
      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #1d43eefd;
        border-radius: 20rem;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: red;
      }
    }
  }
}


.header__menu {
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 3rem;
    user-select: none;
    cursor: pointer;
    display: none;
    @media (max-width: 750px) {
      display: inline-block !important;
    }
  }
}