@import "../../colors";

.landing_page {
  &__container {
    // background: #106EDF;
    background-color: #eaeef0a9;
    @media (max-width:750px) {
      background-image: url('/images/phone.png');
    }
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
    display: flex;

    justify-content: flex-start;
    align-items: center;

    img {
      min-height: 100vh;
      overflow-y: auto;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      @media (max-width:750px) {
        display: none;
      }
    }
  }

  &__content {
    background-color: #fff;
    padding: 3rem;
    border-radius: 6px;
    width: 50%;
    z-index: 3;

    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    @media (max-width: 750px) {
      width: 80%;
      transform: translateY(0%);
    }

    @media (max-width: 500px) {
      flex-direction: column;
      padding: 4rem 0;
      bottom: 2%;

      width: 95%;
    }
    &-1 {
      flex: 0 0 50%;
      text-align: center;
      p {
        letter-spacing: 1.3px;
        font-weight: 600;
        font-size: 1.9rem;
        @media (max-width: 750px) {
          font-size: 1.5rem;
        }
      }
      a {
        display: inline-block;
        margin: 3rem 0;
        font-size: 3rem;
        transform: scale(1);
        animation: pulse 0.5s infinite;
      }
    }

    &-2 {
      flex: 0 0 50%;
    }
  }

  &__heading_primary {
    line-height: 3rem;
    margin: 3rem 0 2rem 0;
    letter-spacing: 2px;
    font-size: 3.8rem;
    font-weight: 800;
    @media (max-width: 750px) {
      font-size: 2rem;
    }
  }

  &__heading {
    margin-left: 2rem;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 700;
    @media (max-width: 750px) {
      font-size: 3rem;
    }
  }
}

.find {
  color: rgb(222, 236, 31);
}

.me {
  font-family: Italianno;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
