.profile_page {
   padding: 7rem 5rem;
   height: 100vh;
   background: #106EDF;
   // background: url('../../assets/images/background-image-2.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat ;
  
}