@import "../../colors";

.search_bar {
  &__container {
    margin-right: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 750px) {
      margin-right: 0;
    }
  }

  &__input {
    width: 30rem;
    padding: 0.5rem 3rem;
    border-radius: 10rem;
    height:3rem;
    background-color:#fff;
    font-size: 1.5rem;
    border: transparent;
    transition: all 0.5s;
    @media (max-width: 750px) {
      width: 20rem;
      padding: 4px 3rem;
      &:focus {
        width: 23rem !important;
      }
    }
    &::placeholder {
      font-size: 1.6rem;
      color: $color-white-light;
    }

    &:focus {
      user-select: none;
      outline: none;
      width: 35rem;
    }
  }

  &__icon {
    color: $color-white-light;
    margin-left: -3rem;
  }
}
