@import './../../colors';

.button {
    text-align: center;
    color: $color-white-light;
    background: $color-blue-lighter;
    border: 1px solid $color-blue-light;
    min-width: 100px;
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.3rem;
    transition: .4s;

    &:not(.disable):hover {
        opacity: .7;
    }
    &:active,&:focus {
        outline: none;
    }
}

.disable {
    opacity: .4;
}