@import "../../colors.scss"; 
// =================================================
// 
// 134889e8
// 134889ca
// 18549ce8

// 1258afe8
// 105cb9e8
//146cd8e8
//=========================================
.df P{
    color:#0855b3e8
}
.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:6rem;
    padding: 1.5rem 3.5rem ;
    background: linear-gradient(to right, $color-blue-light,#0855b3e8, #105cb9e8,#146cd8e8);
    @media (max-width:750px) {
       padding: 10px 10px;
      }
    z-index: 99999;
    &__logo_container {
        font-size:2rem;
        text-transform: uppercase;
        font-weight: 700;

        @media (max-width:750px) {
            font-size: 1.5rem;
          }
    }

    &__logo {
        color: rgb(222, 236, 31);
        span {
            font-family: Italianno;

            color: $color-white-light;
        }
    }

    &__search_bar {
        font-size: 2.5rem;
        color: $color-white-light;
    }
    &__icons {
        font-size: 2.5rem;
        color: $color-white-light;
    }
}
