@import "../../colors.scss"; 

.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.5rem ;
    background: $color-blue-light;
    @media (max-width:750px) {
       padding: 10px 10px;
      }
    z-index: 99999;
    &__logo_container {
        font-size:2rem;
        text-transform: uppercase;
        font-weight: 700;

        @media (max-width:750px) {
            font-size: 1.5rem;
          }
    }

    &__logo {
        color: rgb(222, 236, 31);
        span {
            font-family: Italianno;

            color: $color-white-light;
        }
    }

    &__search_bar {
        font-size: 2.5rem;
        color: $color-white-light;
    }
    &__icons {
        font-size: 2.5rem;
        color: $color-white-light;
    }
}
