@import "../../colors";

.select_container {
  select {
    padding: 0.7rem 1.5rem;
    font-size: 1.5rem;
    transition: all 0.3s;
    border: 3px solid transparent;
    background-color: rgb(240, 244, 247);
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    height: 5rem;
    color: $color-blue-dark;
    border-radius: 4px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.text {
  &__input {
    padding: 0.7rem 1.5rem;
    font-size: 1.5rem;
    color: $color-blue-dark;
    transition: all 0.3s;
    border: 3px solid transparent;
    margin-bottom: 1.5rem;
    height: 5rem;
    background-color: rgb(240, 244, 247);

    border-radius: 4px;

    &:focus {
      background-color: rgb(240, 244, 247);
      outline: none;
    }

    &::placeholder {
      color: $color-blue-dark;

      font-family: lato;
      font-size: 1.6;
      text-transform: capitalize;
    }
  }
}

.radio {
  font-size: 1.5rem;
  color: $color-blue-dark;
  margin: 0.7rem;

  label {
    margin: 0 0.4rem;
  }
}

.label {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.6rem;
  color: $color-blue-dark;

  margin: 0.5rem;
}
