@import '../../colors';
@import '../../sass/mixins.scss';

.filter_container {
    width: 100%;
    padding: 2rem;
    flex:0 0 20%;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
     border-radius: 5px;
    
}

.filter_group {
    text-transform: capitalize;
    margin: 1rem 0;

    h3 {
        font-size: 1.6rem;
        margin: .5rem 0;
    }

    
}