@import '../../colors';
@import '../../sass/mixins.scss';

.filter_container {
    width: 20rem;
    padding: 2rem;
    box-shadow: 0 0 1rem  rgba(0,0,0,.2);  
    background: #fff;
    @include positionfixed;
    left: 6%;
}

.filter_group {
    text-transform: capitalize;
    margin: 1rem 0;

    h3 {
        font-size: 1.6rem;
        margin: .5rem 0;
    }

    
}