@import '../../colors';
@import '../../sass/mixins.scss';

.filter_container {
    width: 20rem;
    padding: 2rem;
    flex:0 0 20%;
    background-color: $color-white-light3;

    @media (max-width:900px) {
        display: none;
    }
}

.filter_group {
    text-transform: capitalize;
    margin: 1rem 0;

    h3 {
        font-size: 1.6rem;
        margin: .5rem 0;
    }

    
}