@import '../../colors.scss';


.chatroom {
  &__container {
      background: #106EDF;
      // background: url('../../assets/images/background-image-2.jpg');
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .8rem;
      &__inner {
        width: 50rem;
        min-height: 60rem;
        background: $color-white-light;
        @media (max-width:750px) {
          width: 40rem;
      }
        @media (max-width:400px) {
          width: 100%;
      }
        
      }
  }
  &__heading {
     text-align: center;
     padding: 1rem;
     text-transform: uppercase;
     color: $color-white-light;
     font-weight: 600;
     font-size: 1.6rem;
     background: $color-blue-light;
  }
  &__minor {
    background: $color-white-dark;
    min-height: 100%;
    height: auto;
  } 
}