@import '../../colors.scss';


.chatroom {
  &__container {
      background: url('../../assets/images/background-image-2.jpg');
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      &__inner {
        max-width: 50rem;
        width: 100%;
        min-height: 60rem;
        background: $color-white-light;
        
      }
  }
  &__heading {
     text-align: center;
     padding: 1rem;
     text-transform: uppercase;
     color: $color-white-light;
     font-weight: 600;
     font-size: 1.6rem;
     background: $color-blue-light;
  }
  &__minor {
    background: $color-white-dark;
    min-height: 100%;
    height: auto;
  } 
}