@import '../../colors';
@import '../../sass/mixins.scss';
.profile {
    width: 20rem;
    box-shadow: 0 0 1rem rgba(0,0,0, .2);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    @include positionfixed;
    right: 10%;

    &__image {
         img {
             width: 10rem;
             border-radius: 400rem;
         }
    }

    &__name {
        margin-top:1rem ;
       font-size: medium;
    }

    &__online {
        display: block;
        margin: 2rem 0;

        &__dot {
            display: inline-block;
            height: .5rem;
            width: .5rem;
            border-radius: 200rem;
            background: rgb(35, 149, 31);
            margin-right: .4rem;
        }

        &__text{
            display: inline-block;
              color: rgb(35, 149, 31);
              font-size: 1.3rem;
        }
    }
}