@import "../../colors";
@import "../../sass/mixins.scss";
.profile {
  padding: 2rem;
  position: relative;
  flex: 0 0 30%;
  display: flex;
  // align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 39.8rem;
  background-color: $color-white-light3;
  user-select: none;

  &__icon {
    margin-right: 10px;
    color: #1d89ee;
    user-select: none;
   
  }

  &__content {
    &-top {
      background-color: #fff;
      width: 100%;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
      border-radius: 10px;
    }

    &-bottom {
      background-color: #fff;

      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
      padding: 1rem 4rem;
      font-size: 1.5rem;
      border-radius: 10px;
      .chat {
        cursor: pointer;
      }
    }
  }
  @media (max-width: 750px) {
    display: none;
  }
  div {
    margin: 1rem 0;

    &::after {
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
  &__image {
    img {
      width: 10rem;
      height: 10rem;
      border-radius: 400rem;
      border: 4px solid rgb(37, 109, 202);

    }
  }

  &__name {
    margin-top: 1rem;
  }

  &__online {
    display: block;
    margin: 2rem 0;

    &__dot {
      display: inline-block;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 200rem;
      background: rgb(35, 149, 31);
      margin-right: 0.4rem;
    }

    &__text {
      display: inline-block;
      color: rgb(35, 149, 31);
      font-size: 1.3rem;
    }
  }
}
